@font-face {
    font-family: font;
    src: url(../font/NotoSans-SemiBold.ttf);
}

*{
    font-family: font;
    margin: 0;
    padding: 0;
}

/* Navi Bar Start */

.nav{
    background-color: rgb(135, 135, 89);
}
.logo{
    margin-left: 80px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
}
.navibar{
    display: inline-block;
    float: right;
    margin-top: 30px;
    margin-right: 45px;
}
.navibar li{
    display: inline-block;
    margin: 15px;
}
.navibar li a:hover{
    color: red;
}
.navibar li a{
    text-decoration: none;
}
.welcome_text{
    color: red;
}

/* Background Images */
.wallpaper{
    width: 100%;
}

/* banner */
.banner{
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 45%;
    left: 2%;
    padding: 15px;
    color: white;
}
.button_shop{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
}

/* discount */
.discount{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 20px;
    grid-gap: 15px;
    margin-left: 50px;
    margin-right: 50px;
}
.discount div{
    border: 1px solid gray;
    padding: 15px;
    border-radius: 5px;
}
.discount div p{
    display: inline-block;
    margin-left: 20px;
}

.discount div p span{
    color: gray;
}

/* promotion title*/
.promotion_title{
    margin-top: 20px;
    margin-left: 45px;
}
.promotionhr{
    width: 100px;
    height: 3px;
    background-color: rgb(214, 34, 178);
    margin-left: 45px;
}

/* promotion items */
.pomotion_img{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    margin-left: 45px;
    margin-right: 45px;
}
.promotion_item{
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
}
.pomotion_img div img{
    width: 80%;
}
.product_name{
    text-align: center;
}
.promotion_discount{
    position: absolute;
    bottom: 380px;
    left: 220px;
}
.discount_price{
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    text-align: center;
}
.current_price{
    color: red;
    text-align: center;
    width: 100%;
    text-decoration: line-through;
}

/* New Arrival */
.newarrival{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 40px;
    margin-right: 40px;
    grid-gap: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.newarrival div{
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .1);
    padding: 15px;
    border-radius: 5px;
    position: relative;
}
.newarrival div img{
    width: 70%;
}
.newarrival div span{
    display: flex;
    margin: 30px;
}
.firsthr{
    width: 50%;
    border: 2px solid red;
    display: inline-block;
}
.secondhr{
    width: 50%;
    border: 2px solid green;
    display: inline-block;
}
.new_price{
    float: right;
}
.detail_btn{
    position: absolute;
    top: 35%;
    left: 40%;
    padding: 7px 15px;
    color: red;
    border-radius: 5px;
    border: 1px solid red;
    opacity: 0;
}
.detail_btn:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}
.newarrival div:hover .detail_btn{
    opacity: 1;
}
.newarrival_img:hover{
    opacity: .6;
}

/* start sub */
.subscribe{
    background-color: red;
    margin-top: 40px;
    /* margin-left: 40px; */
    /* margin-right: 40px; */
    height: 300px;
    color: white;
    /* border-radius: 5px; */
}
.subscribe div{
    padding-top: 50px;
    margin-left: 40px;
    float: left;
    width: 60%;
}
.subscribe div p{
    margin: 20px 0px 30px;
}
.subscribe_input{
    width: 400px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}
.subscribe_button{
    width: 80px;
    height: 45px;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    background-color: green;
    color: white;
}
.subscribe_img{
    width: 250px;
    margin-top: 20px;
}

/* News */
.news{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 30px 50px 30px 50px;
    grid-gap: 30px;
}
.news div{
    border: 1px solid gray;
    border-radius: 5px;
}
.news_image{
    width: 100%;
    transition: .8s ease-in-out;
}
.news_image:hover{
    transform: scale(2);
}
.image_hover{
    overflow: hidden;
    display: inline-block;
    height: 300px;
}
.news_title{
    margin: 10px 0px 10px 0px;
    padding: 0px 10px;
}
.postby{
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
    color: gray;
    padding: 0px 10px;
    font-style: italic;
}
.news div p{
    padding: 0px 10px
}
.read_more{
    text-decoration: none;   
    margin-top: 10px; 
    margin-bottom: 5px;
    display: inline-block;
    color: red;
    padding: 0px 10px
}

/* footer */
footer{
    /* background-color: black; */
    background-color: rgb(135, 135, 89);
    color: black;
    /* margin-top: 40px; */
}
.footer{
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: auto 200px 200px auto;
    margin: 0px 80px;
    
}
.footer_title{
    margin-bottom: 10px;
}
.footer_nav{
    color: black;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    padding-left: 30px;
}
.footer_address{
    margin-bottom: 10px;
}
.footer_icon{
    margin-right: 15px;
}
.social{
    margin: 0px 5px;
    color: black;
}

/* About */
.about_img{
    width: 100%;
} 
.about{
    background-color: rgba(162, 158, 158, 0.3);
    position: absolute;
    top: 30%;
    left: 15%;
    color: black;
    padding: 20px;
}
.about p{
    margin-top: 10px;
}

/* Contact */
.contact{
    background-color: rgb(244, 240, 240);
}
.contact_title{
    padding-top: 20px;
    margin-left: 100px;
}
.contact_img{
    width: 35%;
    height: 35%;
    margin-left: 100px;
}
.contact_p{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}
/* comment box */

.comment
{
    position: absolute;
    top: 30%;
    left: 45%;
    box-shadow: 5px 4px 4px 4px rgba(0, 0, 0, .1);
    padding: 20px;
}
.comment_box{
    display: grid;
    grid-template-columns: 280px 280px;
    grid-gap: 30px;
}
.comment_text{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 180px;
}
.comment_btn{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 270px;
}.send{
    width: 90px;
    height: 30px;
    background-color: rgb(185, 181, 181);
    border: none;
    border-radius: 5px;
    color: black;
}
.comment_box input{
    width: 260px;
    height: 20px;
    border-radius: 8px;
    border: none;
    padding: 8px;
    box-shadow: 5px 4px 4px 4px rgba(0, 0, 0, .1);
}
#commentbox{
    border-radius: 8px;
    box-shadow: 5px 4px 4px 4px rgba(0, 0, 0, .1);
    border: none;
    width: 260px;
    height: 180px;
}
