/* Curtain*/
.curtain_text{
    color: black;
    text-shadow: 0 0 2px #644c4c, 0 0 3px #0000FF;
    display: inline-block;
    margin-left: 15px;
    margin-top: 30px;
    display: inline-block;
}

.backtext{
    float: right;
    margin-top: 35px;
    margin-right: 15px;
    font-size: 18px;
    text-shadow: 0 0 1px #644c4c, 0 0 2px #9292d1;
}
.curtain{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    margin: 20px;
}
.curtain div{
    display: inline-block;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .2);
    padding: 15px;
    border-radius: 10px;
}
.curtain div img{
    width: 240px;
    height: 250px;
    transition: .3s;
}
.image_hover img:hover{
    transform: scale(1.2);
}
.image_hover{
    overflow: hidden;
    display: inline-block;
}
.image_hover p:hover{
    color: #0000FF;
}

/* pagination */
.pagination {
    display: inline-block;
    margin-left: 500px;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd; 
    margin: 0 4px;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
}