/* Curtain*/
.curtain_text{
    color: black;
    text-shadow: 0 0 2px #644c4c, 0 0 3px #0000FF;
    display: inline-block;
    margin-left: 15px;
    margin-top: 30px;
}
.curtain{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    margin: 20px;
}
.curtain div{
    display: inline-block;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .2);
    padding: 15px;
    border-radius: 10px;
    color: rgb(5, 27, 60);
}
.curtain div img{
    width: 240px;
    height: 250px;
    transition: .3s;
}
.image_hover img:hover{
    transform: scale(1.2);
}
.image_hover{
    overflow: hidden;
    display: inline-block;
}
.image_hover p:hover{
    color: rgb(101, 105, 51);
}
.sale i{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #cccccc;
}
.price{
    display: inline-block;
    font-size: 20px;
}
.sale{
    float: right;
    margin-right: 30px;
}
.sale:hover{
    color: rgb(101, 105, 51);}

/* pagination */
.pagination {
    display: inline-block;
    margin-left: 500px;
    margin-bottom: 20px;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd; 
    margin: 0 4px;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
}